In [1]:
import numpy as np          # For numerical operations
import pandas as pd         # For data manipulation and analysis
import matplotlib.pyplot as plt  # For data visualization
import seaborn as sns       # For statistical data visualization

plt.style.use('classic')

In [2]:
data = pd.read_csv("./Downloads/listings_summary.csv")

In [3]:
data

,id,scrape_id,last_scraped,experiences_offered,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,...,review_scores_value,requires_license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,2.020000e+13,07-11-2018,none,2217,Ian,18-08-2008,"Key Biscayne, Florida, United States",within an hour,0.96,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76
1,2695,2.020000e+13,07-11-2018,none,2986,Michael,16-09-2008,"Berlin, Berlin, Germany",NaN,NaN,...,10.0,t,NaN,f,f,flexible,f,f,1,1.42
2,3176,2.020000e+13,07-11-2018,none,3718,Britta,19-10-2008,"Coledale, New South Wales, Australia",within a day,1.00,...,9.0,t,NaN,t,f,strict_14_with_grace_period,f,f,1,1.25
3,3309,2.020000e+13,07-11-2018,none,4108,Jana,07-11-2008,"Berlin, Berlin, Germany",NaN,NaN,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,1,0.39
4,7071,2.020000e+13,07-11-2018,none,17391,Bright,16-05-2009,"Berlin, Berlin, Germany",within an hour,1.00,...,9.0,t,NaN,f,f,moderate,f,f,1,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,2.020000e+13,07-11-2018,none,87555909,Ulisses,02-08-2016,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,1,NaN
22548,29857108,2.020000e+13,07-11-2018,none,67537363,Jörg,17-04-2016,"Berlin, Berlin, Germany",within an hour,0.88,...,NaN,t,NaN,t,f,flexible,f,f,6,NaN
22549,29864272,2.020000e+13,07-11-2018,none,3146923,Martin,03-08-2012,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,2,NaN
22550,29866805,2.020000e+13,07-11-2018,none,36961901,Arte Luise,28-06-2015,"Berlin, Berlin, Germany",within a few hours,0.90,...,NaN,t,NaN,f,f,flexible,f,f,3,NaN
22551,29867352,2.020000e+13,07-11-2018,none,177464875,Sebastian,09-03-2018,"Berlin, Berlin, Germany",NaN,NaN,...,NaN,t,NaN,f,f,flexible,f,f,1,NaN

In [4]:
data.head()

,id,scrape_id,last_scraped,experiences_offered,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,...,review_scores_value,requires_license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,2.020000e+13,07-11-2018,none,2217,Ian,18-08-2008,"Key Biscayne, Florida, United States",within an hour,0.96,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76
1,2695,2.020000e+13,07-11-2018,none,2986,Michael,16-09-2008,"Berlin, Berlin, Germany",NaN,NaN,...,10.0,t,NaN,f,f,flexible,f,f,1,1.42
2,3176,2.020000e+13,07-11-2018,none,3718,Britta,19-10-2008,"Coledale, New South Wales, Australia",within a day,1.00,...,9.0,t,NaN,t,f,strict_14_with_grace_period,f,f,1,1.25
3,3309,2.020000e+13,07-11-2018,none,4108,Jana,07-11-2008,"Berlin, Berlin, Germany",NaN,NaN,...,9.0,t,NaN,f,f,strict_14_with_grace_period,f,f,1,0.39
4,7071,2.020000e+13,07-11-2018,none,17391,Bright,16-05-2009,"Berlin, Berlin, Germany",within an hour,1.00,...,9.0,t,NaN,f,f,moderate,f,f,1,1.75

In [5]:
df =data

In [6]:
df.shape

(22552, 76)

# NULL VALUE TREATMENT

In [8]:
df.isnull().sum().sort_values(ascending=False)

jurisdiction_names      22552
host_acceptance_rate    22552
square_feet             22106
monthly_price           19893
weekly_price            18871
                        ...
price                       0
guests_included             0
extra_people                0
minimum_nights              0
bed_type                    0
Length: 76, dtype: int64

In [9]:
df.isnull().sum().sum()

198383

In [10]:
round(df.isnull().sum().sort_values(ascending=False)*100/df.isnull().sum().sum(), 0)

jurisdiction_names      11.0
host_acceptance_rate    11.0
square_feet             11.0
monthly_price           10.0
weekly_price            10.0
                        ...
price                    0.0
guests_included          0.0
extra_people             0.0
minimum_nights           0.0
bed_type                 0.0
Length: 76, dtype: float64

In [11]:
pd.set_option('display.min_rows', None)
# pd.reset_option('display.min_rows')

In [12]:
round(df.isnull().sum().sort_values(ascending=False)*100/df.shape[0], 0)

jurisdiction_names              100.0
host_acceptance_rate            100.0
square_feet                      98.0
monthly_price                    88.0
weekly_price                     84.0
host_response_rate               57.0
host_response_time               57.0
security_deposit                 42.0
cleaning_fee                     32.0
host_neighbourhood               23.0
review_scores_value              20.0
review_scores_checkin            20.0
review_scores_location           20.0
review_scores_communication      20.0
review_scores_accuracy           20.0
review_scores_cleanliness        20.0
review_scores_rating             19.0
reviews_per_month                17.0
first_review                     17.0
last_review                      17.0
neighbourhood                     5.0
zipcode                           3.0
host_location                     1.0
state                             0.0
market                            0.0
beds                              0.0
bathrooms                         0.0
host_listings_count               0.0
host_has_profile_pic              0.0
host_since                        0.0
                                ...
cancellation_policy               0.0
is_business_travel_ready          0.0
instant_bookable                  0.0
requires_license                  0.0
availability_30                   0.0
id                                0.0
calendar_updated                  0.0
maximum_nights                    0.0
last_scraped                      0.0
experiences_offered               0.0
host_id                           0.0
street                            0.0
neighbourhood_cleansed            0.0
neighbourhood_group_cleansed      0.0
smart_location                    0.0
country_code                      0.0
country                           0.0
latitude                          0.0
longitude                         0.0
is_location_exact                 0.0
property_type                     0.0
room_type                         0.0
accommodates                      0.0
scrape_id                         0.0
amenities                         0.0
price                             0.0
guests_included                   0.0
extra_people                      0.0
minimum_nights                    0.0
bed_type                          0.0
Length: 76, dtype: float64

***

#### Dropping High Null Values Columns

In [15]:
copy_data = df.copy()

In [16]:
copy_data.drop(columns=['square_feet', 'monthly_price', 'weekly_price', 'host_response_rate', 'host_response_time'], axis=1, inplace=True)

In [17]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 71 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                22552 non-null  int64
 1   scrape_id                         22552 non-null  float64
 2   last_scraped                      22552 non-null  object
 3   experiences_offered               22552 non-null  object
 4   host_id                           22552 non-null  int64
 5   host_name                         22526 non-null  object
 6   host_since                        22526 non-null  object
 7   host_location                     22436 non-null  object
 8   host_acceptance_rate              0 non-null      float64
 9   host_is_superhost                 22526 non-null  object
 10  host_neighbourhood                17458 non-null  object
 11  host_listings_count               22526 non-null  float64
 12  host_total_listings_count         22526 non-null  float64
 13  host_verifications                22526 non-null  object
 14  host_has_profile_pic              22526 non-null  object
 15  host_identity_verified            22526 non-null  object
 16  street                            22552 non-null  object
 17  neighbourhood                     21421 non-null  object
 18  neighbourhood_cleansed            22552 non-null  object
 19  neighbourhood_group_cleansed      22552 non-null  object
 20  city                              22547 non-null  object
 21  state                             22468 non-null  object
 22  zipcode                           21896 non-null  object
 23  market                            22489 non-null  object
 24  smart_location                    22552 non-null  object
 25  country_code                      22552 non-null  object
 26  country                           22552 non-null  object
 27  latitude                          22552 non-null  float64
 28  longitude                         22552 non-null  float64
 29  is_location_exact                 22552 non-null  object
 30  property_type                     22552 non-null  object
 31  room_type                         22552 non-null  object
 32  accommodates                      22552 non-null  int64
 33  bathrooms                         22520 non-null  float64
 34  bedrooms                          22534 non-null  float64
 35  beds                              22512 non-null  float64
 36  bed_type                          22552 non-null  object
 37  amenities                         22552 non-null  object
 38  price                             22552 non-null  object
 39  security_deposit                  13191 non-null  object
 40  cleaning_fee                      15406 non-null  object
 41  guests_included                   22552 non-null  int64
 42  extra_people                      22552 non-null  object
 43  minimum_nights                    22552 non-null  int64
 44  maximum_nights                    22552 non-null  int64
 45  calendar_updated                  22552 non-null  object
 46  has_availability                  22552 non-null  object
 47  availability_30                   22552 non-null  int64
 48  availability_60                   22552 non-null  int64
 49  availability_90                   22552 non-null  int64
 50  availability_365                  22552 non-null  int64
 51  calendar_last_scraped             22552 non-null  int64
 52  number_of_reviews                 22552 non-null  int64
 53  first_review                      18638 non-null  float64
 54  last_review                       18644 non-null  float64
 55  review_scores_rating              18163 non-null  float64
 56  review_scores_accuracy            18138 non-null  float64
 57  review_scores_cleanliness         18141 non-null  float64
 58  review_scores_checkin             18120 non-null  float64
 59  review_scores_communication       18134 non-null  float64
 60  review_scores_location            18121 non-null  float64
 61  review_scores_value               18117 non-null  float64
 62  requires_license                  22552 non-null  object
 63  jurisdiction_names                0 non-null      float64
 64  instant_bookable                  22552 non-null  object
 65  is_business_travel_ready          22552 non-null  object
 66  cancellation_policy               22552 non-null  object
 67  require_guest_profile_picture     22552 non-null  object
 68  require_guest_phone_verification  22552 non-null  object
 69  calculated_host_listings_count    22552 non-null  int64
 70  reviews_per_month                 18638 non-null  float64
dtypes: float64(20), int64(13), object(38)
memory usage: 12.2+ MB

In [18]:
copy_data.drop(columns=['host_id', 'host_name', 'host_is_superhost', 'scrape_id', 'last_scraped', 'country_code', 'country', 'id', 'calendar_last_scraped'], axis=1, inplace=True)

In [19]:
copy_data.shape

(22552, 62)

In [20]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 62 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   experiences_offered               22552 non-null  object
 1   host_since                        22526 non-null  object
 2   host_location                     22436 non-null  object
 3   host_acceptance_rate              0 non-null      float64
 4   host_neighbourhood                17458 non-null  object
 5   host_listings_count               22526 non-null  float64
 6   host_total_listings_count         22526 non-null  float64
 7   host_verifications                22526 non-null  object
 8   host_has_profile_pic              22526 non-null  object
 9   host_identity_verified            22526 non-null  object
 10  street                            22552 non-null  object
 11  neighbourhood                     21421 non-null  object
 12  neighbourhood_cleansed            22552 non-null  object
 13  neighbourhood_group_cleansed      22552 non-null  object
 14  city                              22547 non-null  object
 15  state                             22468 non-null  object
 16  zipcode                           21896 non-null  object
 17  market                            22489 non-null  object
 18  smart_location                    22552 non-null  object
 19  latitude                          22552 non-null  float64
 20  longitude                         22552 non-null  float64
 21  is_location_exact                 22552 non-null  object
 22  property_type                     22552 non-null  object
 23  room_type                         22552 non-null  object
 24  accommodates                      22552 non-null  int64
 25  bathrooms                         22520 non-null  float64
 26  bedrooms                          22534 non-null  float64
 27  beds                              22512 non-null  float64
 28  bed_type                          22552 non-null  object
 29  amenities                         22552 non-null  object
 30  price                             22552 non-null  object
 31  security_deposit                  13191 non-null  object
 32  cleaning_fee                      15406 non-null  object
 33  guests_included                   22552 non-null  int64
 34  extra_people                      22552 non-null  object
 35  minimum_nights                    22552 non-null  int64
 36  maximum_nights                    22552 non-null  int64
 37  calendar_updated                  22552 non-null  object
 38  has_availability                  22552 non-null  object
 39  availability_30                   22552 non-null  int64
 40  availability_60                   22552 non-null  int64
 41  availability_90                   22552 non-null  int64
 42  availability_365                  22552 non-null  int64
 43  number_of_reviews                 22552 non-null  int64
 44  first_review                      18638 non-null  float64
 45  last_review                       18644 non-null  float64
 46  review_scores_rating              18163 non-null  float64
 47  review_scores_accuracy            18138 non-null  float64
 48  review_scores_cleanliness         18141 non-null  float64
 49  review_scores_checkin             18120 non-null  float64
 50  review_scores_communication       18134 non-null  float64
 51  review_scores_location            18121 non-null  float64
 52  review_scores_value               18117 non-null  float64
 53  requires_license                  22552 non-null  object
 54  jurisdiction_names                0 non-null      float64
 55  instant_bookable                  22552 non-null  object
 56  is_business_travel_ready          22552 non-null  object
 57  cancellation_policy               22552 non-null  object
 58  require_guest_profile_picture     22552 non-null  object
 59  require_guest_phone_verification  22552 non-null  object
 60  calculated_host_listings_count    22552 non-null  int64
 61  reviews_per_month                 18638 non-null  float64
dtypes: float64(19), int64(10), object(33)
memory usage: 10.7+ MB

In [21]:
df.columns

Index(['id', 'scrape_id', 'last_scraped', 'experiences_offered', 'host_id',
       'host_name', 'host_since', 'host_location', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

### null value treatment

#### Step1 : find null values column wise
#### Step2 : remove all columns with null values > 50%
#### Step3 : separate numerical & categorical variables
#### Step4 : Impute Num & Categorical variable columns - Central Tendency / Predictive KNN respectively

In [24]:
copy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 62 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   experiences_offered               22552 non-null  object
 1   host_since                        22526 non-null  object
 2   host_location                     22436 non-null  object
 3   host_acceptance_rate              0 non-null      float64
 4   host_neighbourhood                17458 non-null  object
 5   host_listings_count               22526 non-null  float64
 6   host_total_listings_count         22526 non-null  float64
 7   host_verifications                22526 non-null  object
 8   host_has_profile_pic              22526 non-null  object
 9   host_identity_verified            22526 non-null  object
 10  street                            22552 non-null  object
 11  neighbourhood                     21421 non-null  object
 12  neighbourhood_cleansed            22552 non-null  object
 13  neighbourhood_group_cleansed      22552 non-null  object
 14  city                              22547 non-null  object
 15  state                             22468 non-null  object
 16  zipcode                           21896 non-null  object
 17  market                            22489 non-null  object
 18  smart_location                    22552 non-null  object
 19  latitude                          22552 non-null  float64
 20  longitude                         22552 non-null  float64
 21  is_location_exact                 22552 non-null  object
 22  property_type                     22552 non-null  object
 23  room_type                         22552 non-null  object
 24  accommodates                      22552 non-null  int64
 25  bathrooms                         22520 non-null  float64
 26  bedrooms                          22534 non-null  float64
 27  beds                              22512 non-null  float64
 28  bed_type                          22552 non-null  object
 29  amenities                         22552 non-null  object
 30  price                             22552 non-null  object
 31  security_deposit                  13191 non-null  object
 32  cleaning_fee                      15406 non-null  object
 33  guests_included                   22552 non-null  int64
 34  extra_people                      22552 non-null  object
 35  minimum_nights                    22552 non-null  int64
 36  maximum_nights                    22552 non-null  int64
 37  calendar_updated                  22552 non-null  object
 38  has_availability                  22552 non-null  object
 39  availability_30                   22552 non-null  int64
 40  availability_60                   22552 non-null  int64
 41  availability_90                   22552 non-null  int64
 42  availability_365                  22552 non-null  int64
 43  number_of_reviews                 22552 non-null  int64
 44  first_review                      18638 non-null  float64
 45  last_review                       18644 non-null  float64
 46  review_scores_rating              18163 non-null  float64
 47  review_scores_accuracy            18138 non-null  float64
 48  review_scores_cleanliness         18141 non-null  float64
 49  review_scores_checkin             18120 non-null  float64
 50  review_scores_communication       18134 non-null  float64
 51  review_scores_location            18121 non-null  float64
 52  review_scores_value               18117 non-null  float64
 53  requires_license                  22552 non-null  object
 54  jurisdiction_names                0 non-null      float64
 55  instant_bookable                  22552 non-null  object
 56  is_business_travel_ready          22552 non-null  object
 57  cancellation_policy               22552 non-null  object
 58  require_guest_profile_picture     22552 non-null  object
 59  require_guest_phone_verification  22552 non-null  object
 60  calculated_host_listings_count    22552 non-null  int64
 61  reviews_per_month                 18638 non-null  float64
dtypes: float64(19), int64(10), object(33)
memory usage: 10.7+ MB

##### Columns having wrong datatype
price, extra_people, security, deposit, cleaning_fee

In [40]:
copy_data.drop(columns = ['experiences_offered','has_availability'], axis=1, inplace = True)  #removing cols having no need

KeyError: "['experiences_offered', 'has_availability'] not found in axis"

In [ ]:
copy_data.has_availability.unique()

In [46]:
copy_data.price = copy_data.price.apply(lambda x : x.replace("$", ""))   #remove dollar sign
copy_data['price'] = copy_data['price'].str.replace("$", "")

In [96]:
#similarly do for other cols
cols_to_treat = ['price','extra_people', 'security_deposit', 'cleaning_fee']

for i in cols_to_treat:
    # Remove '$' from the specified columns
    copy_data[i] = copy_data[i].astype(str).str.replace("$", "")
    
    # Convert the columns to int64 or float64
    copy_data[i] = pd.to_numeric(copy_data[i], errors='coerce')  # Convert to numeric, handling potential errors
    copy_data[i] = copy_data[i].astype('float64')  # Convert to Int64 to handle missing values

# Now the specified columns in 'copy_data' are of type Int64 / float64

In [98]:
copy_data[cols_to_treat].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             22511 non-null  float64
 1   extra_people      22552 non-null  float64
 2   security_deposit  12653 non-null  float64
 3   cleaning_fee      15405 non-null  float64
dtypes: float64(4)
memory usage: 704.9 KB

In [82]:
Num = []
Cat = []

In [84]:
for col in copy_data.columns:
    if df[col].dtype == 'object':
        Cat.append(col)
    else:
        Num.append(col)

In [174]:
len(Num)

27

In [176]:
Num

['host_listings_count',
 'host_total_listings_count',
 'latitude',
 'longitude',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'guests_included',
 'minimum_nights',
 'maximum_nights',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'calculated_host_listings_count',
 'reviews_per_month']

In [118]:
copy_data['jurisdiction_names']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
22522   NaN
22523   NaN
22524   NaN
22525   NaN
22526   NaN
22527   NaN
22528   NaN
22529   NaN
22530   NaN
22531   NaN
22532   NaN
22533   NaN
22534   NaN
22535   NaN
22536   NaN
22537   NaN
22538   NaN
22539   NaN
22540   NaN
22541   NaN
22542   NaN
22543   NaN
22544   NaN
22545   NaN
22546   NaN
22547   NaN
22548   NaN
22549   NaN
22550   NaN
22551   NaN
Name: jurisdiction_names, Length: 22552, dtype: float64

In [172]:
len(Cat)

31

In [90]:
Cat

['host_since',
 'host_location',
 'host_neighbourhood',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'is_location_exact',
 'property_type',
 'room_type',
 'bed_type',
 'amenities',
 'price',
 'security_deposit',
 'cleaning_fee',
 'extra_people',
 'calendar_updated',
 'requires_license',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification']

In [100]:
copy_data[['price','security_deposit', 'cleaning_fee', 'extra_people']]

       price  security_deposit  cleaning_fee  extra_people
0       60.0             200.0          30.0          28.0
1       17.0               0.0           0.0           0.0
2       90.0             200.0          50.0          20.0
3       26.0             250.0          30.0          18.0
4       42.0               0.0           0.0          24.0
5      180.0             400.0          80.0          10.0
6       70.0             500.0           0.0           0.0
7      120.0               NaN           NaN          13.0
8       90.0             500.0          50.0          20.0
9       45.0               0.0          18.0          26.0
10      49.0               0.0          50.0          15.0
11     129.0             500.0          49.0          24.0
12      70.0             500.0          40.0          18.0
13      98.0             300.0          50.0          25.0
14     160.0             150.0          40.0          35.0
15      65.0             500.0          50.0           0.0
16      90.0             200.0          35.0           5.0
17      90.0             200.0          55.0           5.0
18     197.0             250.0          50.0          40.0
19      70.0               NaN           NaN           0.0
20      90.0             200.0          50.0          20.0
21      60.0               NaN          30.0          10.0
22     130.0               NaN          80.0           0.0
23     100.0               NaN          40.0          20.0
24      44.0             100.0          15.0          15.0
25      62.0               0.0          20.0           8.0
26      55.0               NaN          50.0          10.0
27      40.0             500.0           5.0          20.0
28      25.0               0.0           0.0          15.0
29      52.0             100.0          30.0          12.0
...      ...               ...           ...           ...
22522   45.0               0.0          30.0          36.0
22523  150.0             150.0          30.0           0.0
22524   30.0             200.0          25.0          10.0
22525   30.0               NaN           NaN           0.0
22526  599.0               0.0           0.0           0.0
22527  399.0               0.0          49.0           0.0
22528  100.0               NaN           NaN           0.0
22529   35.0               NaN           NaN           0.0
22530  105.0               0.0          60.0          15.0
22531   95.0               NaN           NaN           0.0
22532   70.0               NaN         299.0           0.0
22533   30.0               NaN           NaN           0.0
22534   26.0               NaN           NaN           0.0
22535   21.0               NaN           NaN           0.0
22536  150.0               NaN           NaN           0.0
22537   23.0               NaN           NaN           0.0
22538   60.0               NaN           NaN           0.0
22539   30.0               NaN           NaN           0.0
22540   30.0               NaN           NaN           0.0
22541   19.0               0.0           0.0          10.0
22542   40.0               NaN           NaN           0.0
22543   29.0               NaN           NaN           0.0
22544   90.0             100.0          20.0           0.0
22545   39.0               0.0          10.0          10.0
22546  100.0               NaN         100.0           0.0
22547   60.0               NaN           NaN           0.0
22548   20.0               0.0           0.0          10.0
22549   85.0               NaN           NaN           0.0
22550   99.0               NaN           NaN           0.0
22551   45.0               NaN           NaN           0.0

[22552 rows x 4 columns]

In [94]:
copy_data.shape

(22552, 60)

In [102]:
copy_data[Num]

,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,jurisdiction_names,calculated_host_listings_count,reviews_per_month
0,NaN,4.0,4.0,52.534537,13.402557,3,1.0,1.0,2.0,1,...,93.0,10.0,9.0,10.0,10.0,10.0,9.0,NaN,4,3.76
1,NaN,1.0,1.0,52.548513,13.404553,2,1.0,1.0,1.0,1,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,1,1.42
2,NaN,1.0,1.0,52.534996,13.417579,4,1.0,1.0,2.0,2,...,92.0,9.0,9.0,9.0,9.0,10.0,9.0,NaN,1,1.25
3,NaN,1.0,1.0,52.498855,13.349065,2,1.0,1.0,1.0,1,...,88.0,9.0,9.0,9.0,10.0,9.0,9.0,NaN,1,0.39
4,NaN,1.0,1.0,52.543157,13.415091,2,1.0,1.0,2.0,1,...,96.0,10.0,10.0,10.0,10.0,10.0,9.0,NaN,1,1.75
5,NaN,1.0,1.0,52.533031,13.416047,7,2.5,4.0,7.0,5,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,1,0.15
6,NaN,3.0,3.0,52.547846,13.405562,2,1.0,0.0,1.0,1,...,93.0,10.0,10.0,9.0,10.0,9.0,9.0,NaN,3,0.23
7,NaN,1.0,1.0,52.510514,13.457850,2,1.0,1.0,2.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
8,NaN,4.0,4.0,52.504792,13.435102,5,1.0,1.0,3.0,2,...,94.0,10.0,10.0,10.0,10.0,9.0,9.0,NaN,2,0.47
9,NaN,1.0,1.0,52.529071,13.412843,2,1.0,1.0,1.0,1,...,96.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,1,2.83
10,NaN,2.0,2.0,52.495476,13.421821,2,1.0,NaN,1.0,1,...,96.0,10.0,9.0,10.0,10.0,10.0,9.0,NaN,1,2.10
11,NaN,1.0,1.0,52.536952,13.407615,4,1.0,2.0,2.0,2,...,87.0,9.0,9.0,9.0,8.0,10.0,9.0,NaN,1,0.75
12,NaN,4.0,4.0,52.502733,13.434620,4,1.0,1.0,2.0,2,...,95.0,9.0,10.0,10.0,9.0,9.0,9.0,NaN,2,0.61
13,NaN,2.0,2.0,52.494851,13.428501,4,1.0,2.0,2.0,2,...,94.0,10.0,9.0,10.0,10.0,10.0,9.0,NaN,2,0.59
14,NaN,1.0,1.0,52.534348,13.405577,5,1.0,1.0,4.0,4,...,94.0,9.0,9.0,10.0,10.0,10.0,9.0,NaN,1,2.27
15,NaN,1.0,1.0,52.489714,13.379748,4,1.0,1.0,4.0,1,...,87.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN,1,0.94
16,NaN,2.0,2.0,52.530791,13.418084,4,2.5,2.0,2.0,2,...,94.0,10.0,10.0,10.0,9.0,10.0,10.0,NaN,2,0.18
17,NaN,2.0,2.0,52.530259,13.419467,4,2.5,2.0,2.0,2,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,2,0.05
18,NaN,2.0,2.0,52.544062,13.421377,8,2.0,2.0,8.0,4,...,91.0,9.0,9.0,9.0,9.0,10.0,9.0,NaN,1,1.63
19,NaN,3.0,3.0,52.546719,13.405117,2,1.0,0.0,1.0,1,...,92.0,9.0,10.0,10.0,10.0,9.0,9.0,NaN,3,0.29
20,NaN,1.0,1.0,52.513385,13.469948,6,1.0,2.0,4.0,4,...,91.0,9.0,10.0,8.0,9.0,9.0,9.0,NaN,1,0.33
21,NaN,12.0,12.0,52.486106,13.434817,3,NaN,1.0,NaN,2,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,10,0.02
22,NaN,3.0,3.0,52.541788,13.423883,4,1.0,2.0,3.0,2,...,96.0,10.0,10.0,10.0,10.0,10.0,9.0,NaN,3,0.70
23,NaN,4.0,4.0,52.545967,13.422359,8,1.0,2.0,4.0,4,...,95.0,10.0,10.0,10.0,10.0,10.0,9.0,NaN,4,2.42
24,NaN,1.0,1.0,52.543089,13.422453,1,1.0,1.0,1.0,1,...,89.0,9.0,9.0,10.0,10.0,10.0,9.0,NaN,1,4.94
25,NaN,1.0,1.0,52.521418,13.357082,4,1.0,1.0,2.0,2,...,89.0,9.0,9.0,9.0,10.0,9.0,9.0,NaN,1,1.44
26,NaN,1.0,1.0,52.549361,13.418228,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.01
27,NaN,2.0,2.0,52.519677,13.302089,1,0.0,1.0,1.0,1,...,88.0,9.0,9.0,10.0,10.0,9.0,9.0,NaN,2,1.63
28,NaN,1.0,1.0,52.493389,13.364813,1,1.0,1.0,1.0,1,...,91.0,10.0,9.0,10.0,10.0,9.0,10.0,NaN,1,0.21
29,NaN,2.0,2.0,52.538220,13.404625,2,1.0,1.0,2.0,1,...,95.0,10.0,10.0,10.0,10.0,10.0,9.0,NaN,2,3.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22522,NaN,1.0,1.0,52.491236,13.330882,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22523,NaN,1.0,1.0,52.513255,13.318309,2,1.0,0.0,1.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22524,NaN,1.0,1.0,52.504231,13.420850,2,0.5,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22525,NaN,1.0,1.0,52.440587,13.353266,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22526,NaN,3.0,3.0,52.494753,13.344451,4,1.0,1.0,2.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
22527,NaN,3.0,3.0,52.494714,13.344555,5,1.0,1.0,1.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
22528,NaN,1.0,1.0,52.491119,13.426435,2,1.0,0.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22529,NaN,3.0,3.0,52.484395,13.357489,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
22530,NaN,3.0,3.0,52.485467,13.438652,4,3.0,2.0,2.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
22531,NaN,1.0,1.0,52.522064,13.418118,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22532,NaN,9.0,9.0,52.514998,13.496708,2,1.0,0.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
22533,NaN,1.0,1.0,52.535236,13.437477,4,1.0,2.0,4.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22534,NaN,5.0,5.0,52.569657,13.420882,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
22535,NaN,5.0,5.0,52.569500,13.422632,1,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
22536,NaN,2.0,2.0,52.536666,13.411360,4,1.0,2.0,2.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.00
22537,NaN,5.0,5.0,52.569261,13.422296,1,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
22538,NaN,1.0,1.0,52.496963,13.420962,2,1.0,0.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22539,NaN,1.0,1.0,52.508844,13.273118,1,1.0,0.0,2.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22540,NaN,1.0,1.0,52.497266,13.464208,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22541,NaN,2.0,2.0,52.478012,13.448766,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22542,NaN,1.0,1.0,52.470724,13.323199,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22543,NaN,1.0,1.0,52.469517,13.442539,1,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22544,NaN,1.0,1.0,52.515574,13.456987,4,1.0,2.0,2.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22545,NaN,1.0,1.0,52.508700,13.445511,4,1.0,1.0,2.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22546,NaN,1.0,1.0,52.488700,13.354795,4,1.0,2.0,2.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22547,NaN,1.0,1.0,52.533865,13.400731,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22548,NaN,6.0,6.0,52.496211,13.341738,6,1.0,1.0,4.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
22549,NaN,3.0,3.0,52.531800,13.411999,2,1.0,0.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
22550,NaN,3.0,3.0,52.520802,13.378688,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
22551,NaN,1.0,1.0,52.473762,13.424447,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [104]:
copy_data[Cat]

,host_since,host_location,host_neighbourhood,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,...,security_deposit,cleaning_fee,extra_people,calendar_updated,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
0,18-08-2008,"Key Biscayne, Florida, United States",Mitte,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Berlin, Berlin, Germany",Mitte,Brunnenstr. Süd,Mitte,...,200.0,30.0,28.0,3 months ago,t,f,f,strict_14_with_grace_period,f,f
1,16-09-2008,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",NaN,Prenzlauer Berg Nordwest,Pankow,...,0.0,0.0,0.0,7 weeks ago,t,f,f,flexible,f,f
2,19-10-2008,"Coledale, New South Wales, Australia",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Südwest,Pankow,...,200.0,50.0,20.0,a week ago,t,t,f,strict_14_with_grace_period,f,f
3,07-11-2008,"Berlin, Berlin, Germany",Schöneberg,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Schöneberg,Schöneberg-Nord,Tempelhof - Schöneberg,...,250.0,30.0,18.0,4 weeks ago,t,f,f,strict_14_with_grace_period,f,f
4,16-05-2009,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Helmholtzplatz,Pankow,...,0.0,0.0,24.0,3 days ago,t,f,f,moderate,f,f
5,25-08-2009,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Südwest,Pankow,...,400.0,80.0,10.0,2 weeks ago,t,f,f,strict_14_with_grace_period,f,f
6,18-11-2009,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Nordwest,Pankow,...,500.0,0.0,0.0,today,t,f,f,strict_14_with_grace_period,f,f
7,03-12-2009,"Berlin, Berlin, Germany",Friedrichshain,"['email', 'phone', 'facebook', 'jumio', 'offli...",t,t,"Berlin, Berlin, Germany",Friedrichshain,Frankfurter Allee Süd FK,Friedrichshain-Kreuzberg,...,NaN,NaN,13.0,never,t,f,f,strict_14_with_grace_period,f,f
8,20-12-2009,"Santa Cruz, California, United States",Kreuzberg,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,f,"Berlin, Berlin, Germany",Kreuzberg,nördliche Luisenstadt,Friedrichshain-Kreuzberg,...,500.0,50.0,20.0,2 months ago,t,f,f,strict_14_with_grace_period,f,t
9,04-01-2010,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Südwest,Pankow,...,0.0,18.0,26.0,a week ago,t,f,f,strict_14_with_grace_period,f,f
10,08-01-2010,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Germany",Neukölln,Reuterstraße,Neukölln,...,0.0,50.0,15.0,5 days ago,t,f,f,strict_14_with_grace_period,f,f
11,18-01-2010,"Hamburg, Hamburg, Germany",Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Südwest,Pankow,...,500.0,49.0,24.0,2 days ago,t,f,f,strict_14_with_grace_period,f,f
12,20-12-2009,"Santa Cruz, California, United States",Kreuzberg,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,f,"Berlin, Berlin, Germany",Kreuzberg,nördliche Luisenstadt,Friedrichshain-Kreuzberg,...,500.0,40.0,18.0,7 months ago,t,f,f,strict_14_with_grace_period,f,t
13,27-02-2010,"Berlin, Berlin, Germany",Kreuzberg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Berlin, Berlin, Germany",Kreuzberg,südliche Luisenstadt,Friedrichshain-Kreuzberg,...,300.0,50.0,25.0,2 months ago,t,f,f,strict_14_with_grace_period,f,f
14,02-03-2010,"Berlin, Berlin, Germany",Mitte,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Berlin, Germany",Mitte,Brunnenstr. Süd,Mitte,...,150.0,40.0,35.0,2 days ago,t,f,f,strict_14_with_grace_period,f,f
15,17-03-2010,"Berlin, Berlin, Germany",Kreuzberg,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Kreuzberg,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,...,500.0,50.0,0.0,2 days ago,t,f,f,strict_14_with_grace_period,f,f
16,27-03-2010,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews']",t,f,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Südwest,Pankow,...,200.0,35.0,5.0,4 days ago,t,f,f,strict_14_with_grace_period,f,f
17,27-03-2010,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews']",t,f,"Berlin, Berlin, Germany",NaN,Prenzlauer Berg Süd,Pankow,...,200.0,55.0,5.0,4 weeks ago,t,f,f,strict_14_with_grace_period,f,f
18,23-04-2010,Namibia,Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Berlin, Germany",Prenzlauer Berg,Helmholtzplatz,Pankow,...,250.0,50.0,40.0,3 weeks ago,t,t,f,strict_14_with_grace_period,f,f
19,18-11-2009,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Nordwest,Pankow,...,NaN,NaN,0.0,today,t,f,f,strict_14_with_grace_period,f,f
20,10-05-2010,"Berlin, Berlin, Germany",Friedrichshain,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Friedrichshain,Frankfurter Allee Süd FK,Friedrichshain-Kreuzberg,...,200.0,50.0,20.0,today,t,f,f,strict_14_with_grace_period,t,t
21,22-02-2010,"Berlin, Berlin, Germany",Reuterkiez,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",Neukölln,Reuterstraße,Neukölln,...,NaN,30.0,10.0,today,t,f,f,flexible,f,t
22,14-11-2009,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Helmholtzplatz,Pankow,...,NaN,80.0,0.0,7 months ago,t,f,f,strict_14_with_grace_period,f,f
23,05-04-2011,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Helmholtzplatz,Pankow,...,NaN,40.0,20.0,2 weeks ago,t,t,f,strict_14_with_grace_period,f,f
24,30-05-2010,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews', 'sen...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Helmholtzplatz,Pankow,...,100.0,15.0,15.0,a week ago,t,f,f,moderate,f,f
25,12-06-2010,"Berlin, Berlin, Germany",Moabit,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,"Berlin, Berlin, Germany",Moabit,Moabit Ost,Mitte,...,0.0,20.0,8.0,1 week ago,t,t,f,strict_14_with_grace_period,f,f
26,27-06-2010,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",NaN,Prenzlauer Berg Nord,Pankow,...,NaN,50.0,10.0,4 weeks ago,t,t,f,strict_14_with_grace_period,f,f
27,02-07-2010,"Berlin, Berlin, Germany",Charlottenburg,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Charlottenburg,Otto-Suhr-Allee,Charlottenburg-Wilm.,...,500.0,5.0,20.0,3 days ago,t,f,f,flexible,t,t
28,06-07-2010,"Berlin, Berlin, Germany",Schöneberg,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Berlin, Germany",Schöneberg,Schöneberg-Nord,Tempelhof - Schöneberg,...,0.0,0.0,15.0,3 weeks ago,t,f,f,strict_14_with_grace_period,f,f
29,21-06-2010,"Berlin, Berlin, Germany",Mitte,"['phone', 'reviews', 'offline_government_id', ...",t,f,"Berlin, Berlin, Germany",Mitte,Brunnenstr. Süd,Mitte,...,100.0,30.0,12.0,2 weeks ago,t,f,f,strict_14_with_grace_period,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22522,22-05-2017,"Berlin, Berlin, Germany",NaN,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",Wilmersdorf,Volkspark Wilmersdorf,Charlottenburg-Wilm.,...,0.0,30.0,36.0,today,t,t,f,moderate,f,f
22523,19-08-2018,GB,Charlottenburg,"['email', 'phone', 'offline_government_id', 'g...",t,f,"Berlin, Berlin, Germany",Charlottenburg,Otto-Suhr-Allee,Charlottenburg-Wilm.,...,150.0,30.0,0.0,yesterday,t,f,f,strict_14_with_grace_period,f,f
22524,23-01-2012,"Berlin, Berlin, Germany",Kreuzberg,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,f,"Berlin, Berlin, Germany",Kreuzberg,nördliche Luisenstadt,Friedrichshain-Kreuzberg,...,200.0,25.0,10.0,today,t,f,f,strict_14_with_grace_period,f,f
22525,09-08-2015,"Berlin, Berlin, Germany",NaN,"['email', 'phone', 'jumio', 'government_id']",t,f,"Berlin, Berlin, Germany",Lankwitz,Lankwitz,Steglitz - Zehlendorf,...,NaN,NaN,0.0,yesterday,t,f,f,flexible,f,f
22526,08-08-2017,"Berlin, Berlin, Germany",Schöneberg,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Schöneberg,Schöneberg-Nord,Tempelhof - Schöneberg,...,0.0,0.0,0.0,yesterday,t,f,f,strict_14_with_grace_period,f,f
22527,08-08-2017,"Berlin, Berlin, Germany",Schöneberg,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Schöneberg,Schöneberg-Nord,Tempelhof - Schöneberg,...,0.0,49.0,0.0,yesterday,t,f,f,strict_14_with_grace_period,f,f
22528,12-05-2013,"Cologne, North Rhine-Westphalia, Germany",NaN,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Neukölln,Reuterstraße,Neukölln,...,NaN,NaN,0.0,yesterday,t,f,f,flexible,f,f
22529,08-06-2016,"Gothenburg, Västra Götaland County, Sweden",Neukölln,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",Schöneberg,Schöneberg-Süd,Tempelhof - Schöneberg,...,NaN,NaN,0.0,yesterday,t,f,f,flexible,f,f
22530,18-02-2013,"Berlin, Berlin, Germany",Neukölln,"['email', 'phone', 'reviews', 'offline_governm...",t,f,"Berlin, Berlin, Germany",Neukölln,Reuterstraße,Neukölln,...,0.0,60.0,15.0,today,t,f,f,flexible,f,f
22531,19-09-2012,"Berlin, Berlin, Germany",Mitte,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Mitte,Alexanderplatz,Mitte,...,NaN,NaN,0.0,yesterday,t,f,f,strict_14_with_grace_period,f,f
22532,11-01-2014,"Berlin, Berlin, Germany",Friedrichsfelde,"['email', 'phone', 'kba']",t,f,"Berlin, Berlin, Germany",Lichtenberg,Alt-Lichtenberg,Lichtenberg,...,NaN,299.0,0.0,today,t,f,f,strict_14_with_grace_period,f,f
22533,16-02-2018,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'jumio', 'offline_governmen...",t,f,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Ost,Pankow,...,NaN,NaN,0.0,yesterday,t,f,f,flexible,f,f
22534,16-07-2018,DE,Pankow,"['email', 'phone', 'jumio', 'offline_governmen...",t,f,"Berlin, Berlin, Germany",Pankow,Pankow Süd,Pankow,...,NaN,NaN,0.0,yesterday,t,f,f,strict_14_with_grace_period,f,f
22535,16-07-2018,DE,Pankow,"['email', 'phone', 'jumio', 'offline_governmen...",t,f,"Berlin, Berlin, Germany",Pankow,Pankow Süd,Pankow,...,NaN,NaN,0.0,yesterday,t,f,f,strict_14_with_grace_period,f,f
22536,20-05-2011,"Munich, Bayern, Germany",Neuhausen,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Südwest,Pankow,...,NaN,NaN,0.0,yesterday,t,t,f,flexible,f,f
22537,16-07-2018,DE,Pankow,"['email', 'phone', 'jumio', 'offline_governmen...",t,f,"Berlin, Berlin, Germany",Pankow,Pankow Süd,Pankow,...,NaN,NaN,0.0,yesterday,t,f,f,strict_14_with_grace_period,f,f
22538,04-05-2017,"Berlin, Berlin, Germany",NaN,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",Kreuzberg,südliche Luisenstadt,Friedrichshain-Kreuzberg,...,NaN,NaN,0.0,yesterday,t,t,f,flexible,f,f
22539,03-06-2012,"Berlin, Berlin, Germany",NaN,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Westend,Westend,Charlottenburg-Wilm.,...,NaN,NaN,0.0,yesterday,t,f,f,flexible,f,f
22540,21-01-2015,"London, United Kingdom",Friedrichshain,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,f,"Berlin, Berlin, Germany",Friedrichshain,Frankfurter Allee Süd FK,Friedrichshain-Kreuzberg,...,NaN,NaN,0.0,yesterday,t,f,f,flexible,f,f
22541,05-09-2014,"Munich, Bavaria, Germany",NaN,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Neukölln,Rixdorf,Neukölln,...,0.0,0.0,10.0,yesterday,t,t,f,flexible,f,f
22542,06-11-2018,"Berlin, Berlin, Germany",NaN,"['email', 'phone', 'jumio', 'offline_governmen...",t,f,"Berlin, Berlin, Germany",Friedenau,Friedenau,Tempelhof - Schöneberg,...,NaN,NaN,0.0,yesterday,t,t,f,flexible,f,f
22543,17-02-2017,"Berlin, Berlin, Germany",Neukölln,"['email', 'phone', 'facebook', 'google', 'revi...",t,t,"Berlin, Berlin, Germany",Neukölln,Rixdorf,Neukölln,...,NaN,NaN,0.0,today,t,f,f,flexible,f,f
22544,20-10-2013,"Berlin, Berlin, Germany",Friedrichshain,"['email', 'phone']",t,f,"Berlin, Berlin, Germany",Friedrichshain,Frankfurter Allee Nord,Friedrichshain-Kreuzberg,...,100.0,20.0,0.0,today,t,t,f,flexible,f,f
22545,02-01-2018,DE,Friedrichshain,"['email', 'phone']",t,f,"Berlin, Berlin, Germany",Friedrichshain,Karl-Marx-Allee-Süd,Friedrichshain-Kreuzberg,...,0.0,10.0,10.0,today,t,t,f,moderate,f,f
22546,15-09-2014,"Hamburg, Hamburg, Germany",NaN,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Berlin, Berlin, Germany",Schöneberg,Schöneberg-Süd,Tempelhof - Schöneberg,...,NaN,100.0,0.0,today,t,t,f,strict_14_with_grace_period,f,f
22547,02-08-2016,"Berlin, Berlin, Germany",Mitte,"['email', 'phone', 'facebook']",t,f,"Berlin, Berlin, Germany",Mitte,Brunnenstr. Süd,Mitte,...,NaN,NaN,0.0,today,t,f,f,flexible,f,f
22548,17-04-2016,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'facebook', 'jumio', 'gover...",t,f,"Berlin, Berlin, Germany",Schöneberg,Schöneberg-Nord,Tempelhof - Schöneberg,...,0.0,0.0,10.0,today,t,t,f,flexible,f,f
22549,03-08-2012,"Berlin, Berlin, Germany",Prenzlauer Berg,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,Prenzlauer Berg Südwest,Pankow,...,NaN,NaN,0.0,today,t,f,f,flexible,f,f
22550,28-06-2015,"Berlin, Berlin, Germany",Mitte,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Mitte,Alexanderplatz,Mitte,...,NaN,NaN,0.0,today,t,f,f,flexible,f,f
22551,09-03-2018,"Berlin, Berlin, Germany",Neukölln,"['email', 'phone']",t,f,"Berlin, Berlin, Germany",Neukölln,Schillerpromenade,Neukölln,...,NaN,NaN,0.0,today,t,f,f,flexible,f,f

***

#### Null Value Treatment

Central Tendency = Mean, Meadian & Mode

In [112]:
for i in Num:
    copy_data[i] = copy_data[i].fillna(copy_data[i].median())

In [170]:
copy_data[Num].isnull().sum()

host_listings_count               0
host_total_listings_count         0
latitude                          0
longitude                         0
accommodates                      0
bathrooms                         0
bedrooms                          0
beds                              0
guests_included                   0
minimum_nights                    0
maximum_nights                    0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
first_review                      0
last_review                       0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
calculated_host_listings_count    0
reviews_per_month                 0
dtype: int64

In [168]:
# copy_data.drop(['host_acceptance_rate', 'jurisdiction_names'], axis=1, inplace=True)
Num = [col for col in Num if col not in ['host_acceptance_rate', 'jurisdiction_names']]

In [128]:
copy_data[Cat].isnull().sum()

host_since                            26
host_location                        116
host_neighbourhood                  5094
host_verifications                    26
host_has_profile_pic                  26
host_identity_verified                26
street                                 0
neighbourhood                       1131
neighbourhood_cleansed                 0
neighbourhood_group_cleansed           0
city                                   5
state                                 84
zipcode                              656
market                                63
smart_location                         0
is_location_exact                      0
property_type                          0
room_type                              0
bed_type                               0
amenities                              0
price                                 41
security_deposit                    9899
cleaning_fee                        7147
extra_people                           0
calendar_updated                       0
requires_license                       0
instant_bookable                       0
is_business_travel_ready               0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
dtype: int64

In [134]:
for i in Cat:
    copy_data[i] = copy_data[i].fillna(copy_data[i].mode())

In [136]:
copy_data[Cat].isnull().sum()

host_since                          0
host_location                       0
host_neighbourhood                  0
host_verifications                  0
host_has_profile_pic                0
host_identity_verified              0
street                              0
neighbourhood                       0
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
city                                0
state                               0
zipcode                             0
market                              0
smart_location                      0
is_location_exact                   0
property_type                       0
room_type                           0
bed_type                            0
amenities                           0
price                               0
security_deposit                    0
cleaning_fee                        0
extra_people                        0
calendar_updated                    0
requires_license                    0
instant_bookable                    0
is_business_travel_ready            0
cancellation_policy                 0
require_guest_profile_picture       0
require_guest_phone_verification    0
dtype: int64